body {
	padding: 20px;
}


table, th, td{
	border: 1px solid white;
	outline-color: #FFFFFF;
  background-color: #CBDCFA;
  text-align: center;
  vertical-align: middle;
  font-size: 14px;
}

div#loading {
    position: absolute;
    display: none;
    background: url(/static/rolling.gif) no-repeat;
    width: 100px;
  	height: 100px;
  	top: 50%;
  	left: 50%;
  	background-size: 45px 45px;
    }

button {
  background-color: #ededed;
	border: none;
  border-radius: 5px;
}

input#box {
	background-color: #f2f6fa; 
	border: none;
	padding: 5px;
  border-radius: 5px;
}

input#getresults {
  border: none;
  background-color: #ededed; 
  border-radius: 5px;
}

::placeholder {
   font-style: italic;
   color: #bbc2c7;
}
