body {
  font-family: 'Raleway', sans-serif;
}

div#all {
  padding-left: 25px;
  padding-right: 25px;
}

table, th, td{
	border: 1px solid white;
	outline-color: #FFFFFF;
  text-align: center;
  vertical-align: middle;
  font-size: 14px;
}

div#loading {
    position: absolute;
    display: none;
    background: url(/static/rolling.gif) no-repeat;
    width: 70%;
  	height: 70%;
  	top: 45%;
  	left: 48.3%;
  	background-size: 45px 45px;
    }

button{
  background-color: #0370FF;
	border: none;
  border-radius: 5px;
  color: #FFFFFF;
}

h6.bubble{
  display:inline-block;
  color: #000000;
  padding: 4px;
  border-radius: 7px;
  margin: 0px;
}

.bubble{
  background-color: #EEF1F8;
  border: none;
  border-radius: 4px;
  color: #000000;
  padding: 6px;
  display:inline-block;
}

button.img{ 
  background:  none;
}

input#box {
	background-color: #f2f6fa; 
	border: none;
	padding: 5px;
  border-radius: 5px;
}

input#getresults {
  border: none;
  background-color: #0370FF;
  border-radius: 5px;
  color: #FFFFFF;
}

select.options {
  background-color: #f2f6fa; 
  border: none;
  padding: 5px;
  border-radius: 5px;
}

select#options {
  background-color: #f2f6fa; 
  border: none;
  padding: 5px;
  border-radius: 5px;
}


::placeholder {
   font-style: italic;
   color: #bbc2c7;
}

hr  {
  border-color:#D9E0E9;
  border-width: 7px;
}

a#dot {
  color: #34C654;
}

.title{
  width: 700px;
}

.content{
  display: flex;
  justify-content: center;
  text-align: center;
}

h3#title, h4#title, h5#title {
  text-align: center;
}


.ncontent {
  display: flex;
  justify-content: center;

}

.rcontent {
  display: flex;
  justify-content: center;
  text-align: right;
}


div#content {
  display: flex;
  justify-content: center;
  text-align: center;
}

.list {
  text-align: center;
  list-style-position: inside;
}

.row {
  display: flex;
  width:  700px;
  background-color: #EEF1F8;
  border-radius: 5px;
  padding-top: 9px;
}

.column {
  flex: 33.33%;
  padding: 5px;
}