<!DOCTYPE html>
<html>
<head>
	<title>Live County COVID-19 Data</title>
	<link rel="stylesheet" type = "text/css" href="{{ url_for('static', filename = 'style.css')}}">
	<link rel="shortcut icon" href="{{ url_for('static', filename = 'favicon.ico') }}">
	<meta name = 'viewport' content = "width = device-width, initial-scale=1.0">
</head>
<body>
	{% extends "base.html" %}
	{% block titles %}Home Page{% endblock %}
	{% block content%}
	<br>
	<h3>About this project</h3>
	<p>My name is Kabir, and I created this tool to provide information on a granular level about the spread and local impact of COVID-19. <a href="https://towardsdatascience.com/county-based-covid-19-dataset-and-analytical-trends-ff1617030ba8" target="_blank">Click here</a> to learn about some analysis I performed last August using the data from then.</p>
	<p>Access the code for this web app <a href="https://github.com/kabirmoghe/covidapp" target="_blank">here</a>.</p>
	{% endblock %}
</body>
</html>
