<!DOCTYPE html>
<html>
<head>
	<title>Live County COVID-19 Data</title>
	<link rel="stylesheet" type = "text/css" href="{{ url_for('static', filename = 'style.css')}}"></head>
	<link rel="shortcut icon" href="{{ url_for('static', filename = 'favicon.ico') }}">
	<meta name = 'viewport' content = "width = device-width, initial-scale=1.0">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
</head>
<body>
	{% extends "base.html" %}
	{% block titles %}Stats{% endblock %}
	{% block content %}
	<br>
	<div class = 'content'>
		<div class = 'title'>
			<h3>Nationwide COVID-19 Statistics</h3>
			<br>
			<h4>Current US 7-Day Infection Trend as of {{date}}*</h4>
			<p><strong>*Note:</strong> The visualization below uses logarithmic (natural log) average cases per 100,000 in the past 7 days for coloration. Blank spots represent counties with incomplete data.</p>
		</div>
	</div>
	{% include choice+"_usplot.html" %}
	<br>
	<br>
	<br>
	<h4 id = 'title'>Top and Bottom 10 Counties in Terms of Current 7-Day Moving Average of Cases per 100,000*</h4>
	<div class = 'content'>
		<div class = 'title'>
			<p>({{num0}} counties have a daily rate of 0.0 cases per 100,000 in the last week, so the <strong>"Bottom 10"</strong> table is a subset of those counties.)</p>
			<img style="max-width: 30%; height: auto;" src="/static/top-bottom-legend.png" alt="Top vs. Bottom Legend">
		</div>
	</div>
	<br>
	<div class = 'content'>
		<div style="overflow-x:auto;background-color:#FED4D0;">
		{% for item in top10 %}
            {{ item|safe }}
		{% endfor %}
		</div><p>&nbsp;&nbsp;&nbsp;&nbsp;</p>
		<div style="overflow-x:auto;background-color:#DBFDF9;">
		{% for item in bot10 %}
            {{ item|safe }}
		{% endfor %}
		</div>
	</div>
	<br><br>
	<div class = 'content'>
		<button onclick="location.href = '/';">Home</button><p>&nbsp;&nbsp;</p>
		<button onclick="location.href = '/stats';">Back to Stats</button>
	</div>
	<br>
	{% endblock %}
</body>
</html>