<!DOCTYPE html>
<html>
<head>
	<title>Live County COVID-19 Data</title>
	<link rel="stylesheet" type = "text/css" href="{{ url_for('static', filename = 'style.css')}}">
	<link rel="shortcut icon" href="{{ url_for('static', filename = 'favicon.ico') }}">
	<script type="text/javascript">// <![CDATA[
        function loading(){
            $("#loading").show();
            $("#content").hide();       
        }
// ]]></script>
</head>
<body>
{% extends "base.html" %}
{% block title %}Data{% endblock %}
{% block content %}
<br>
<div id="loading" justify-content: center></div>

<div id="content">
	<div class = 'title'>
		<h3>Input your county</h3>
			<p>Enter the name of your county below (results should load in ~10 seconds):<br><i>ex: Orange County, CA</i></p>
			<form action = "#" method = "post">
				<!--<p><input type="text" id = 'box' name="cty" placeholder="County, State"></p>-->
					<p><datalist id="counties">
					    {% for cty in ctys %}
					    <option value= "{{cty}}" SELECTED>{{cty}}</option>"
					    {% endfor %}
					</datalist>
					<input autoComplete="on" id = 'box' name = 'cty' placeholder = 'County, State' list="counties"/> 
					</p><p>
					<input type="submit" id = 'getresults' name="anything_submit" value = "Get Results" onclick="loading();"></p>
			</form>
	</div>
</div>
{% endblock %}
</body>
</html>