<!DOCTYPE html>
<html>
<head>
	<title>Live County COVID-19 Data</title>
	<link rel="stylesheet" type = "text/css" href="{{ url_for('static', filename = 'style.css')}}">
	<link rel="shortcut icon" href="{{ url_for('static', filename = 'favicon.ico') }}">
	<script type="text/javascript">// <![CDATA[
        function loading(){
            $("#loading").show();
            $("#content").hide();       
        }
// ]]></script>
</head>
<body>
{% extends "base.html" %}
{% block title %}Data{% endblock %}
{% block content %}
<br>
<div id="loading" justify-content: center></div>

<div id="content">
		<div class = 'title'>
			<h3>Explore Attribute Relationships on the County-Level</h3>
				<p>Select any two county attributes below and decide whether to include an Original Least Squares trendline, and once you click <strong>"Explore,"</strong> you will be able to explore an interactive scatterplot of the two attributes. <br><br>For example, input a race demographic like <i>African American</i> or a general attribute like <i>Median Household Income</i> along with a vaccine attribute like <i>% Fully Vaccinated</i>, and check out the results.</p>
			<div style="display:block;">
				<form action = "#" method = "post">
					<i>Attribute #1:</i> <select class="options" name="choice1">
						{% for col in cols %}
						<option value= "{{col}}">{{col}}</option>"
						{% endfor %}
					</select>
					<p></p>
					<i>Attribute #2:</i> <select class="options" name="choice2">
						{% for col in cols %}
						<option value= "{{col}}">{{col}}</option>"
					    {% endfor %}
					</select>
					<p></p>
					<i>Trendline:</i> <select class="options" name="trendline">
					    <option value= "y">Yes</option>"
					    <option value= "n">No</option>"
					</select>
					<p></p>
					<input type="submit" id = 'getresults' name="anything_submit" value = "Explore" onclick="loading();"></p>
				</form>
			</div>
	</div>
</div>
{% endblock %}
</body>
</html>