<!DOCTYPE html>
<html>
<head>
	<title>Live County COVID-19 Data</title>
	<link rel="stylesheet" type = "text/css" href="{{ url_for('static', filename = 'style.css')}}"></head>
	<link rel="shortcut icon" href="{{ url_for('static', filename = 'favicon.ico') }}">
<body>
	{% extends "base.html" %}
	{% block titles %}Home Page{% endblock %}
	{% block content%}
	<br>
	<h1>Learn about the spread of COVID-19 in your county. </h1>
	<p>This web app will allow you to explore the April Infection rate per 100,000 for any county in the United States. To enter your county, <strong>go to the data tab</strong> and enter your county in the following form: <i>"Your County Name" County, "Capitalized State Abbreviation"</i></p>
	<p><strong>Note:</strong> the first letters of your county name and "County" should be capitalized.</p>
	{% endblock %}
</body>
</html>
