<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
</head>
<body>
	{% extends "base.html" %}
	{% block titles %}Home Page{% endblock %}
	{% block content%}
	<h1>How to use this site</h1>
		<p>Hi! I'm Kabir! This tool will allow you to explore the April Infection rate per 100,000 for any county in the United States. To enter your county, please put it in the following form: "Your County Name" County, "Capitalized State Abbreviation."</p>
		<br>
		<p>*Note: the first letters of your county name and "County" should be capitalized.</p>
	{% endblock %}
</body>
</html>
