<!DOCTYPE html>
<html>
<head>
	<title>Live County COVID-19 Data</title>
	<link rel="stylesheet" type = "text/css" href="{{ url_for('static', filename = 'style.css')}}">
	<link rel="shortcut icon" href="{{ url_for('static', filename = 'favicon.ico') }}">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	</head>
	

<body>
	{% extends "base.html" %}
	{% block titles %}Home Page{% endblock %}
	{% block content%}
	<br>
	<div class = 'ncontent'>
		<div class = 'title'>
			<strong><h3>Learn about the spread of COVID-19 in your county</h3></strong>	
			<p>This web app allows you to explore current  across 95% of counties in the United States, barring a few counties with incomplete information. The data on the COVID-19 pandemic includes the current 7-day moving average for cases and deaths per 100,000 as well as up-to-date vaccination information, all on the county level. Along with information on COVID-19, the app includes several other county attributes that may be relevant to the spread of the virus: median household income, unemployment, education, race demographics, and the presence of statewide mask requirements. All of these attributes are up-to-date, and the mask-requirements are updated almost daily.</p>
			<p>To find information about a county, go to the <strong>Data</strong> tab and enter your county (in the form <i>"Your County Name", "Capitalized State Abbreviation"</i>) and select the correct county. To learn about the nationwide situation of COVID-19 on a county-level, go to the <strong>Stats</strong> tab and load data on an aspect of your choice. Finally, to carry out your own exploration between two county attributes, head to the <strong>Explore</strong> tab.</p>
		</div>
	</div>
	<div class = 'content'>
		<div class = 'title' style = 'display:  flex; background-color: #EEF1F8;border-radius: 10px; padding-top: 7px;'>
			  <div class="column">
			  	<a href='/data'><img style="max-width: 90%; height: auto;" src="{{url_for('static', filename='data.jpg')}}" alt="Data Page" title = 'Data'></a><p></p>
			  	<h6><i>Data</i></h6>
			  </div>
			  <div class="column">
			  	<a href='/stats'><img style="max-width: 90%; height: auto;" src="{{url_for('static', filename='stats.jpg')}}" alt="Stats Page" title = 'Stats'></a><p></p>
			  	<h6><i>Stats</i></h6>
			  </div>
			  <div class="column">
			  	<a href='/explore'><img style="max-width: 90%; height: auto;" src="{{url_for('static', filename='explore.jpg')}}" alt="Explore Page" title = 'Explore'></a><p></p>
			  	<h6><i>Explore</i></h6>
				</div>
		</div>
	</div>
	<br><br>
	<div class = 'content'>
		<div class = 'title'>
			<h4>Live Demo</h4>
		</div>
	</div>
	<br>
	<div class = 'content'>
		<div class = 'title'>
			<div class = 'iframe-container'>
					<iframe width= '560' height= '415' src="https://www.youtube.com/embed/x-2FKBUyxr4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>
		</div>
	</div>
	<div class = 'content'>
		<div class = 'title'><br>
			<p><a href="/about#feedback" target = "_blank"><img style="max-width: 3%; height: auto" src="{{url_for('static', filename='issue.png')}}" alt="issue"></a>   Issues? Click the icon to the left to leave feedback.</p>
		</div>
	</div>
	<br>
	{% endblock %}
</body>
</html>
